.tree {
  &__level {
    &_even {
      background-color: #f6f6f6;
    }
  }

  &__node-content {
    margin-bottom: 10px;
    overflow-wrap: break-word;
  }

  &__node-children {
    margin: 0;
  }
}

.tree-listgroup {
  flex-direction: row;
}

.dynamicWizard-listgroup {

  .list-group-card {
    padding: 0;

    list-style-type: none;

    @media (max-width: 568px) {
      .list-group-item.list-group-subheader {
        .row {
          justify-content: space-between;

          .col-sm-2 {
            width: auto;
          }
        }
      }
    }
  }

  .list-group-field {
    list-style-type: none;
  }
}

.dynamicWizard-changingMode {
  .formio-component {
    display: none;
  }
  .formio-component.formio-component-dynamicWizard {
    display: block;

    .formio-component {
      display: block;
    }
  }
}
